* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1%;

}

.logo {
    width: 15%;
    height: 15%;
    border-radius: 50%;
    margin: 0px 20px 0px 50px;
    display: inline-flexbox;
    float: left;
    
}

.menu {
    text-align: center;
    margin: 0px 50px 20px 200px;
    
    
}

.menu li {
    display: inline;
    text-align: right;
    margin-left: 10px;
    margin-top: 200px;
    font-family: 'Special Elite', cursive;
    font-size: 18px;
    
}

.menu li a {
    text-decoration: none;
    color: black;
    
     
}

html,body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
    padding: 20px 0;
    height: 0px ;
}

section.sobre {
    position: relative;
    height: calc(100%-200px);
}

div.quartodecirculo {
    position: absolute;
    bottom: -100px;
    right: -400px;
    width: 1050px;
    height: 850px;
    background-color: #fbcb2c;
    border-radius: 50%;
}

.imgprincipal {
    height: 450px;
    width: 520px;
    border-radius: 5%;
    margin-left: 7%;
}

.social {
    position: absolute;
    right: 410px;
    top: 100px;
}

.social img {
    display: block;
    height: 40px;
    width: 40px;

}

.textosobre {
    margin-top: 200px;
    
   
}

.textosobre h1 {
    font-size: 30px;
    font-family: 'Special Elite', cursive;
    
}

h2 {
    
    font-family: 'Special Elite', cursive;
    text-align: center;
    
}

video {
    height: 360px;
    width: 360px;
    margin-bottom: 250px;
    border: 30px solid transparent;
    border-image: url('/images/madeira.jpg') 60 round;
    margin-left: 80px;
}